.nav{
  width: 100%;
  height: 150px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.534);
  
}

a{
  text-decoration: none;
  color: #fff;
}

.top-nav{
 width: 100%;
 height: 75%;
 background-color: rgb(25, 29, 33);
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 10px 30px;
}



.top-nav .logo{
color: #fff;
font-size: 30px;
display: flex;
justify-content: center;
align-items: center;
gap: 10px;
}

.top-nav .search-box{
  width: 60%;
  height: 60%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  overflow: hidden;
}

.top-nav .search-box input{
  width: 70%;
  height: 100%;
  padding: 10px 20px;
  border: none;
  outline: none;
  font-size: 18px;
}

.top-nav .search-box button{
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  font-size: 30px;
  background-color: #fff;
  border: none;
  padding-right: 20px;
}

.top-nav .cart-box svg{
  color: #fff;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.hamburger-menu{
  font-size: 30px;
  color: #fff;
  display: none;
  cursor: pointer;
}


.top-nav .cart-box{
  position: relative;
}

.top-nav .cart-box span{
color: rgb(159, 236, 236);
position: absolute;
top: -10px;
right: -7px;
font-size: 18px;
}

.bottom-nav{
  width: 100%;
  height: 25%;
  background-color: rgb(38, 45, 51);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 18px;
  color: #fff;
  list-style: none;
}

.nav-link{
  color: #fff;
}

.nav-link.active{
  color: #00bfff;
  font-weight: bold;
  border-bottom: 2px solid #00bfff;
}

.bottom-nav li{
cursor: pointer;
}


@media (max-width:750px) {
 .top-nav {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 20px;
    gap: 10px;
  }

  .top-nav .logo {
    font-size: 26px;
  }

  .top-nav .search-box {
    width: 100%;
    height: 40px;
    margin-top: 5px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    padding: 0 10px;
  }

  .top-nav .search-box input {
    width: 80%;
    height: 100%;
    font-size: 16px;
    border: none;
    outline: none;
  }

  .top-nav .search-box button {
    font-size: 20px;
    background-color: white;
    border: none;
    cursor: pointer;
  }

  .top-nav .cart-box {
    position: absolute;
    top: 10px;
    right: 20px;
  }
}

